/* ========== 멤버 대시보드 - 내 정보 ========== */

#study-member .material-symbols-rounded {
    font-weight: 900;
}

#study-member .dashboard-my-info {
    display: flex;
    align-items: center;
}

#study-member .profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#study-member .profile-image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#study-member .dashboard-my-info .profile-image {
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

.dashboard-my-info .profile-text {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.dashboard-my-info .edit-nickname-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.dashboard-my-info .nickname-input {
    padding: 4px 8px;
    width: 160px;
    height: 100%;
    font-size: 20px;
    color: #333;
    cursor: text;
}

.dashboard-my-info .nickname-input.editing {
    background-color: #fff;
    outline: auto;
    outline-color: var(--sub-color);
    border-radius: 5px;
}

.dashboard-my-info .nickname-input:read-only {
    cursor: auto;
}

.dashboard-my-info .nickname-btn {
    margin: 0 10px;
    width: 40px;
    height: 40px;
    color: #999;
    background-color: #ddd;
    border-radius: 100px;
}

.dashboard-my-info .nickname-btn.save {
    background-color: var(--sub-color);
    color: #666;
}

.dashboard-my-info .nickname-btn.cancel {
    margin-left: 0;
}

/* 모바일 - 화면 767px 이하 */
@media (max-width: 767px) {

    #study-member .dashboard-my-info,
    .dashboard-my-info .edit-nickname-wrap {
        flex-direction: column;
    }

    #study-member .dashboard-my-info .nickname-input {
        text-align: center;
        margin: 10px 0;
    }

    #study-member .dashboard-my-info .profile-image {
        margin-right: 0;
    }

    #study-member .dashboard-my-info .profile-text {
        align-items: center;
    }
}

/* ========== 멤버 대시보드 - 멤버 ========== */

#study-member .dashboard-member-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

#study-member .dashboard-member-list {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #fff;
    position: relative;
}

#study-member .dashboard-member-list.me {
    border: 1px solid var(--main-color);
}

#study-member .dashboard-member-list .profile-image {
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
}

#study-member .dashboard-member-list .member-info {
    width: calc(100% - 140px);
}

#study-member .dashboard-member-list .member-info.request {
    width: calc(100% - 194px);
}

#study-member .dashboard-member-list .member-info .leader-tag {
    padding: 1px 10px;
    border: 1px solid #5AA1F9;
    border-radius: 100px;
    margin-right: 10px;
    color: #5AA1F9;
    font-size: 14px;
    font-weight: normal;
}

#study-member .dashboard-member-list .member-btn,
#study-member .study-leave-btn {
    width: 48px;
    padding: 5px 10px;
    border: 1px solid #999;
    color: #999;
    border-radius: 5px;
    transition: all .2s;
    font-size: 14px;
}

#study-member .dashboard-member-list .member-btn:hover {
    color: #fff;
    border-color: var(--main-color);
    background-color: var(--main-color);
}
#study-member .dashboard-member-list .member-btn.rejected:hover {
    border-color: #ff2525;
    background-color: #ff2525;
}

/* 신청목록 페이지 버튼 */
#study-member .request-btn-wrap button:disabled {
    opacity: 0.3;
    cursor: auto;
}

/* ========== 멤버 대시보드 - 탈퇴 버튼 ========== */
#study-member .study-leave-btn {
    width: auto;
    color: #999;
}

#study-member .study-leave-btn:hover {
    background-color: #ff2525;
    color: white;
}