.input-form-attach-label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.input-form-normal-field {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
  min-width: 100%;
}

.form-text {
  margin: 10px 0px;
}
/* 파일 입력 필드 스타일 */
.input-form-file-field {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #d1d1d1; /* 테두리 색상을 더 진하게 변경 */
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
  min-width: 100%;
  background-color: #ffffff; /* 파일 내용 배경을 흰색으로 유지 */
}

/* 파일 선택 버튼 스타일 */
.input-form-file-field::-webkit-file-upload-button {
  background-color: lightgray; /* 옅은 회색 배경 */
  color: #333;
  padding: 8px 12px;
  border: 1px solid #bbb;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  margin-right: 10px; /* 버튼과 파일명 사이 간격 */
  border-radius: 8px; /* 둥근 모서리 */
}

.input-form-file-field::file-selector-button {
  /* 표준 속성 */
  background-color: lightgray; /* 옅은 회색 배경 */
  color: #333;
  padding: 8px 12px;
  border: 1px solid #bbb;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  margin-right: 10px; /* 버튼과 파일명 사이 간격 */
  border-radius: 8px; /* 둥근 모서리 */
}

.input-form-file-field::-webkit-file-upload-button:hover,
.input-form-file-field::file-selector-button:hover {
  background-color: #d0d0d0; /* 호버 시 약간 더 어둡게 */
  border-color: #999;
}

/* Form.css */

.date-picker-container {
  width: 100%; /* min-width를 width로 변경 */
  font-family: sans-serif;
  color: #333;
}

/* 라벨 스타일 (컴포넌트에 사용된 클래스명으로 가정) */
.input-form-label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* 입력 필드 래퍼 */
.date-picker-input-wrapper {
  position: relative;
  width: 100%; /* min-width를 width로 변경 */
}

/* 입력 필드 스타일 */
.date-picker-input {
  width: 100%; /* 너비를 100%로 설정 */
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.date-picker-input:focus {
  outline: none;
  border-color: #007bff;
}

/* 커스텀 캘린더 아이콘 관련 스타일 */
.date-picker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.calendar-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
  width: 24px;
  height: 24px;
  z-index: 1;
  pointer-events: none;
}

.calendar-svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

@media (max-width: 760px) {
  .input-form-attach-label {
    padding-top: 40px;
  }
}
@media (max-width: 500px) {
  .input-form-attach-label {
    padding-top: 60px;
  }
}
