/* ========== 공용 ========== */


.auth-container .auth-form {
    padding: 0 20px;
    max-width: 400px;
    margin: 0 auto;
}

.auth-container .auth-form label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #666;
    text-align: left;
}

.form-field input {
    display: block;
    border-bottom: 2px solid #ddd;
    font-size: 16px;
    padding: 4px;
    width: 100%;
    cursor: text;

    transition: border-color .3s;
}

.form-fieldinput.error {
    border-color: #ff2525;
}

.form-field input:focus {
    border-color: var(--main-color);
}

.password-input-container {
    position: relative;
    
}
.password-toggle-btn {
    position: absolute;
    top: 2px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.auth-form .auth-btn-wrap {
    display: flex;
    gap: 10px;
    justify-content: space-between;

}

.auth-btn-wrap .auth-btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #eee;
}


/* 모바일 - 화면 767px 이하 */
@media (max-width: 767px) {
    .auth-form .auth-btn-wrap {
        flex-wrap: wrap;
    }
}