/* ========== 공용 ========== */

.auth-container h2 {
    font-size: 40px;
}

.auth-container .error-text {
    margin: 5px 0;
    color: #ff2525;
    font-size: 14px;
    opacity: .7;
}

.auth-container .result-text {
    margin: 0 20px;
    font-weight: bold;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;

}

.auth-container .auth-form {
    padding: 0 20px;
    max-width: 400px;
    margin: 0 auto;
}

.auth-container .auth-form label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #666;
    text-align: left;
}

.form-field input {
    display: block;
    border-bottom: 2px solid #ddd;
    font-size: 16px;
    padding: 4px;
    width: 100%;
    cursor: text;

    transition: border-color .3s;
}

.form-field input.error {
    border-color: #ff2525;
}

.form-field input:focus {
    border-color: var(--main-color);
}

.form-field .password-container {
    position: relative;

}

.password-toggle-btn {
    position: absolute;
    top: 2px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.auth-form .auth-btn-wrap {
    display: flex;
    gap: 10px;
    justify-content: space-between;

}

.auth-container .auth-btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--main-color);
    transition: .3s opacity;
}

.auth-container .auth-btn.sub {
    background-color: #eee;
}

.auth-container .auth-btn:hover {
    opacity: .9;
}

/* 모바일 - 화면 767px 이하 */
@media (max-width: 767px) {
    .auth-container h2 {
        font-size: 24px;
    }

    .auth-form .auth-btn-wrap {
        flex-wrap: wrap;
    }
}