@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif !important;
  letter-spacing: -0.03em;
  background-color: #fff;
  color: #000;
}

/* 전체 요소 기본 세팅 */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 버튼 및 폼 요소 */
button, input, textarea, select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* 텍스트 영역 설정 */
textarea {
  resize: none;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear::after {
  content: '';
  display: block;
  clear: both;
}

/* 맨 하단에 둘 것 */
@import "tailwindcss";